
footer {
  flex-grow: 1;
  align-content: flex-end;
}

.footer {
  border-bottom: 1px dashed var(--lightgray);
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;

  & a {
    padding: 0.625rem 0rem;
    display: block;
    padding-inline-start: 2em;

    &:not(:hover) {
      text-decoration: none;
    }
  }
}

.footer-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  & [aria-current="page"] {
    font-weight: bold;
    text-decoration: underline;
  }
}
