.navbar {
  border-bottom: 1px dashed var(--lightgray);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em;
  gap: 1em 2em;

  & a:not(:hover) {
	text-decoration: none;
  }
}

.navbar-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1em 2em;

  & [aria-current="page"] {
    font-weight: bold;
    text-decoration: underline;
  }
}

.navbar-search {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
