:root {
  --red: #c04;
  --lightgray: #e6e6e6;
  --darkgray: #0d1117;
  --lightgray2: #a2a2a2;
  --blue: #135;
  --tabgray: #1f1f1f;
  --lightblue: rgb(36, 93, 150);
  --white: #fff;
  --black: #000000
}

img {
  max-width: 100%;
  margin: auto;
}

[data-theme="light"] {
  --color-bg: var(--white);
  --color-fg: var(--black);
  --color-a: var(--blue);
  --color-text: var(--darkgray);
  --color-text-selected: var(--blue);
  --color-text-unselected: var(--black);
}

[data-theme="dark"] {
  --color-bg: var(--tabgray);
  --color-fg: var(--white);
  --color-a: var(--lightblue);
  --color-text: var(--white);
  --color-text-selected: var(--white);
  --color-text-unselected: var(--lightgray2);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, system-ui, sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
}



main {
  padding: 5vh 5vw;

  & > :first-child {
    margin-top: 0;
  }
}

a {
  color: var(--color-a);
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.5em;
}

table {
  margin: 1em 0;

  & td,
  & th {
    padding-right: 1em;
  }
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
  font-size: 1rem;
}

hr {
  border: 0;
  border-top: solid 2px var(--lightgray);
  margin: 5vh 0;
}