.resourceList {
   list-style: none;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   flex-basis: auto;
   padding: 0;
 }
 
 .resourceCard-date {
   display: none;
 }
 
 .resourceCard-author {
   font-size: 0.8rem;
   color: var(--color-text);
   font-weight: normal;
   margin-right: 0.2em;
 }
 
 .resourceCard-rowContainer {
   margin: 0 0.5em 0.5em;

   .tag {
      margin-right: 0.1em;
   }
 }
 
 .resourceCard-title {
   display: inline-block;
   margin: 0em 0.5em 0.2em;
   font-size: 1.2rem;
   text-decoration: none;
   text-wrap: wrap;
   
   &[aria-current="page"] {
     font-weight: bold;
   }
 }
 
 .resourceCard {
   width: 100%;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   padding: 0.75em;
   margin: 1%;
   background-color: var(--color-resourceCard-bg);
   box-shadow: 0.25em 0.25em 0.5em var(--color-resourceCard-shadow);
   border-radius: 1em;
 }
 