search-form {

}
oom-search::part(input) {
  border: solid 2px var(--color-text);
  border-radius: 4px;
  padding: .5em;
  background: none;
  color: var(--color-text);
}
oom-search::part(label) {
  font-weight: bold;
}
oom-search::part(input) {
  border: solid 2px var(--color-text);
  border-radius: 4px;
  padding: .5em;
  color: var(--color-text);
  background: none;
}
oom-search::part(items) {
  padding: .5em;
  margin: .5em 0;
  box-shadow: 0 2px 3px #0003;
  background: var(--color-bg);
  width: auto;
  min-width: 100%;
  right: 0;
}
oom-search::part(item) {
  background: none;
  font: inherit;
  padding: .5em 1em;
  color: var(--color-text-unselected);
}
oom-search::part(active) {
  background-color: var(--color-bg);
  color: var(--color-text-selected);
}