/* Modified fromm https://codepen.io/irunatbullets/pen/MWwyVOw */

.theme-toggle {
  display: inline-block;
  position: relative;
}

.theme-toggle__input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.theme-toggle__label {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 60px;
  background-color: #2B2B2B;
  border: 5px solid #5B5B5B;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(.46,.03,.52,.96);
}

.theme-toggle__indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(-72%);
  display: block;
  width: 40px;
  height: 40px;
  background-color: #7B7B7B;
  border-radius: 9999px;
  box-shadow: 10px 0px 0 0 rgba(0, 0, 0, 0.2) inset;
  transition: all 0.4s cubic-bezier(.46,.03,.52,.96);
}

.theme-toggle-wrapper {
  transform: scale(0.5);
  transform-origin: center left; 
}

/* Checked state */
.theme-toggle__input:checked + .theme-toggle__label {
  background-color: #8FB5F5;
  border-color: #347CF8;
}

.theme-toggle__input:checked + .theme-toggle__label .theme-toggle__indicator {
  background-color: #ECD21F;
  box-shadow: none;
  transform: translate(-50%, -50%) translateX(72%);
}
