---
layout: layouts/base.njk
---
<h1>Authors</h1>

{% for page in search.pages("type=lib", "authors") %}
	{% if page.data.authors %}
		{% for author in page.data.authors %} 
			<a href="{{ page.data.url }}" class="tag is-big">{{ author }}</a>
		{% endfor %}
	{% endif %}
{% endfor %}
