<ul class="resourceList">
	{% for post in postslist %}
	{% if post.data.banner %}
	<li class="resourceCard resourceCard-with-banner" style="background-image:url({{ post.data.banner }})">
	{% else %}
	<li class="resourceCard">
	{% endif %}
	{% if post.data.logo %} 
		<a href="{{ post.data.url }}" class="resourceCard-logo"><img src="{{ post.data.logo }}" {% if post.data.logo_alt %} alt="{{ logo_alt }}" {% endif %} ></a>
	{% endif %}
	<div class="resourceCard-info">
	<a href="{{ post.data.url }}" class="resourceCard-title"{% if entry.data.url == url %} aria-current="page"{% endif %}>
	{% if post.data.title %}
		<strong>{{ post.data.title }}</strong>{% if post.data.paid %}💰{% endif %}
	{% else %}
		<code>{{ post.url }}</code>{% if post.data.paid %}💰{% endif %}
	{% endif %}
	</a>
	<strong>
	{% if post.data.authors %}
		<div class="resourceCard-rowContainer">
		{% for author in post.data.authors %}
			{% if loop.index < 3 %}
				<a href="/authors/{{ author | lowercase | replace(" ", "-") | replace("_", "-")}}/" class="resourceCard-author"{% if entry.data.url == url %} aria-current="page"{% endif %}>
					{{ author }}{% if not loop.last and loop.index < 3 %}, {% endif %}
				</a>
			{% elif loop.index == 3 %}
				<a href="{{ post.data.url }}/" class="resourceCard-author"{% if entry.data.url == url %} aria-current="page"{% endif %}>
					...
				</a>
			{% endif %} 
		{% endfor %}
		</div>
	{% endif %}
	</strong>
	
	<div class="resourceCard-rowContainer">
		{{ post.data.description }}
	</div>
		
		<div class="resourceCard-rowContainer">
			{% for tag in post.data.tags %}
				{% if loop.index <= 3 %}
					{% set page = search.page("type=tag tag='" + tag + "'") %}
					{% if page %}
						<a href="{{ page.data.url }}" class="tag">{{ tag }}</a>
					{% endif %}

					{% elif loop.index == 4 %}
						and {{ loop.length - (loop.index - 1) }} more!
				{% endif %}
			{% endfor %}
		</div>
	 </div>
  </li>
{% endfor %}
</ul>

