<ul class="resourceList">
	{% for post in postslist %}
		{% ifAsync post.banner %}
			<li class="resourceCard resourceCard-with-banner" style="background-image:url({{ post.banner }})">
		{% else %}
			<li class="resourceCard">
		{% endif %}

		{% ifAsync post.logo %} 
			<a href="{{ post.url }}" class="resourceCard-logo"><img src="{{ post.logo }}" {% ifAsync post.logo_alt %} alt="{{ logo_alt }}" {% endif %} ></a>
		{% endif %}

		<div class="resourceCard-info">
		<a href="{{ post.url }}" class="resourceCard-title"{% ifAsync entry.url == url %} aria-current="page"{% endif %}>
		{% ifAsync post.title %}
			<strong>{{ post.title }}</strong>{% ifAsync post.paid %}💰{% endif %}
		{% else %}
			<code>{{ post.url }}</code>{% ifAsync post.paid %}💰{% endif %}
		{% endif %}

		</a>
		<strong>
		{% ifAsync post.authors %}
			<div class="resourceCard-rowContainer">
			{% for author in post.authorsMetadata %}
				{% ifAsync loop.index < 3 %}
					<a href="/authors/{{ author.safe }}/" class="resourceCard-author"{% ifAsync entry.url == url %} aria-current="page"{% endif %}>
						{{ author.name }}{% ifAsync not loop.last and loop.index < 3 %}, {% endif %}
					</a>
				{% elif loop.index == 3 %}
					<a href="{{ post.url }}/" class="resourceCard-author"{% ifAsync entry.url == url %} aria-current="page"{% endif %}>
						...
					</a>
				{% endif %} 
			{% endfor %}
			</div>
		{% endif %}
		</strong>

		<div class="resourceCard-rowContainer">
		{% ifAsync post.plugins.length > 0 %}
			<a href="../../{{ post.url | trimStartSlash }}plugins/" class="resourceCard-author"{% ifAsync entry.url == url %} aria-current="page"{% endif %}>
				{{ post.plugins.length }} Plugins available here!
			</a>
			<br>
		{% endif %}
			{{ post.description }}
		</div>


			<div class="resourceCard-rowContainer">
				{% for tag in post.tags %}
					{% ifAsync loop.index <= 3 %}
						{% set page = search.page("type=tag tag='" + tag + "'") %}
						{% ifAsync page %}
							<a href="{{ page.url }}" class="tag">{{ tag }}</a>
						{% endif %}

						{% elif loop.index == 4 %}
							and {{ loop.length - (loop.index - 1) }} more!
					{% endif %}
				{% endfor %}
			</div>
		 </div>
  		</li>
	{% endfor %}
</ul>

