---
layout: layouts/base.njk
bodyClass: body-tag
---
<h1>Author “{{ author }}”</h1>

  <div class="post-body">
    {{ content | md(true) | safe }}
  </div>

{% set postslist = getAuthorsPage(author) %}
{% include "templates/resourcelist.njk" %}

<hr>

<p>See <a href="/authors/">all authors</a>.</p>
