<!doctype html>

<html lang="en", data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or site.title }}</title>
    <meta name="description" content="{{ description or site.description }}">
    <link rel="stylesheet" href="/styles.css">
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ site.title }}">
    <link rel="alternate" href="/feed.json" type="application/json" title="{{ site.title }}">
    <script type="module" src="/js/main.js"></script>
    <script>
    // Theme toggle
  let localStorageTheme = localStorage.getItem("theme");
  let systemSettingDark = window.matchMedia("(prefers-color-scheme: dark)");
  if (localStorageTheme !== null) {
    document.querySelector("html").setAttribute("data-theme", localStorageTheme);
  } else {
    if (systemSettingDark.matches) {
      document.querySelector("html").setAttribute("data-theme", "dark");
    }
  }
</script>
  </head>
  <body>
    <nav class="navbar">
      <a href="/" class="navbar-home">
        <strong>{{ site.title }}</strong>
      </a>

      <ul class="navbar-links">
      {%- for entry in search.pages("menu.visible=true", "menu.order") %}
        <li>
          <a href="{{ entry.data.url }}"{% if entry.data.url == url %} aria-current="page"{% endif %}>
            {{ entry.data.menu.title or entry.data.title }}
          </a>
        </li>
      {%- endfor %}
	  {%- for entry in search.pages("ext_link.visible=true", "ext_link.order") %}
        <li>
          <a href="{{ entry.data.ext_link.url }}"{% if entry.data.ext_link.url == url %} aria-current="page"{% endif %} {{ entry.data.ext_link.target }}>
            {{ entry.data.ext_link.title or entry.data.title }}
          </a>
        </li>
      {%- endfor %}
      </ul>

    <div>
<div class="theme-toggle-wrapper">
  <input type="checkbox" class="theme-toggle__input" id="themeSwitch" data-theme-toggle>
  <label class="theme-toggle__label" for="themeSwitch">
    <span class="theme-toggle__indicator"></span>
    <span class="theme-toggle__decoration"></span>
  </label>
</div>
</button>
      <script src="/js/theme-toggle.js"></script>
    </div>

      <div class="navbar-search">
        <oom-search label="Search" placeholder="Post title or tag" src="{{ '/search.json' | url }}"></oom-search>
      </div>
    </nav>

    <main class="{{ bodyClass }}">
      {{ content | safe }}
    </main>

    <footer>
        <nav class="footer">

      <ul class="footer-links">
      {%- for entry in search.pages("footerMenu.visible=true", "footerMenu.order") %}
        <li>
          <a href="{{ entry.data.url }}"{% if entry.data.url == url %} aria-current="page"{% endif %}>
            {{ entry.data.menu.title or entry.data.title }}
          </a>
        </li>
      {%- endfor %}
	  {%- for entry in search.pages("footer_ext_link.visible=true", "footer_ext_link.order") %}
        <li>
          <a href="{{ entry.data.footer_ext_link.url }}"{% if entry.data.footer_ext_link.url == url %} aria-current="page"{% endif %} {{ entry.data.footer_ext_link.target }}>
            {{ entry.data.footer_ext_link.title or entry.data.title }}
          </a>
        </li>
      {%- endfor %}
      </ul>
    </nav>
    <center>This website is not managed and not connected in any way with YoYoGames or Opera. <a href="https://gamemaker.io/">GameMaker</a> is trademark of YoYoGames and Opera.</center><br>
    </footer>

    <!-- Current page: {{ url }} -->
  </body>
</html>
