---
layout: layouts/base.njk
bodyClass: body-post
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ title }}</h1>

    <nav class="post-tags">
    {% for tag in tags %}
      <a href="/tags/{{ tag }}/" class="tag">{{ tag }}</a>
    {% endfor %}
    </nav>

    <time class="post-date" datetime="{{ date | date('DATETIME') }}">
      {{ date | date('HUMAN_DATE') }} 
    </time>

     {%- if includeReadingTime == true %}
      <p>{{ readingInfo.words }} words, {{ readingInfo.minutes }} min read</p>
    {% endif %}
    
    {# Handles rendering all of the page lists #}
    	{% if h2s.length > 0 %}
    	<h3>Contents:</h3>
    
    	{% set minLevel = 999 %}
    	{% for h in h2s %}
    	  {% if h.num < minLevel %}
    	    {% set minLevel = h.num %}
    	  {% endif %}
    	{% endfor %}
    
    	{% set prevLevel = 0 %}
    	<ul>
    	{% for heading in h2s %}
    	    {% set level = heading.num - minLevel %}
    
    	    {% if level > prevLevel %}
    	        {% for i in range(prevLevel, level) %}
    	        <ul>
    	        {% endfor %}
    	    {% elif level < prevLevel %}
    	        {% for i in range(level, prevLevel) %}
    	        </ul>
    	        {% endfor %}
    	    {% endif %}
    	    <li><a href="#{{ heading.id }}">{{ heading.content }}</a></li>
    	    {% set prevLevel = level %}
    	{% endfor %}
    
      {% for i in range(0, prevLevel) %}
        </ul>
      {% endfor %}
        </ul>
      {% endif %}
    
  </header>
  <div class="post-body">
    {{ content | safe }}
  </div>
</article>

<hr>

<nav class="post-navigation">
  <ul>
    {%- set previousPost = search.previousPage(url, "type=posts") %}
    {%- if previousPost %}
    <li>
      ← Previous: <a href="{{ previousPost.data.url }}" rel="prev">{{ previousPost.data.title }}</a>
    </li>
    {% endif %}

    {%- set nextPost = search.nextPage(url, "type=posts") %}
    {%- if nextPost %}
    <li>
      <strong>Next: <a href="{{ nextPost.data.url }}" rel="next">{{ nextPost.data.title }}</a> →</strong>
    </li>
    {% endif %}
  </ul>
</nav>