---
layout: layouts/base.njk
title: Authors
bodyClass: body-post
menu:
  visible: true
  title: Authors
  order: 3
---
<h1>Authors</h1>

{% for page in search.pages("type=author", "author") %}
	<a href="{{ page.data.url }}" class="tag is-big">{{ page.data.author }}</a>
{% endfor %}