---
ext_link:
  visible: true
  title: Discord
  order: 12
  url: https://discord.com/invite/bzXzzC38VN
  target: target="_blank"
---

<head>
  <meta http-equiv='refresh' content='0; URL=https://discord.com/invite/bzXzzC38VN/'>
</head>