---
layout: layouts/home-md.njk
title: GameMaker Communities
footerMenu:
  visible: true
  title: GameMaker Communities
  order: 3
---

Here's a list of all of the main GameMaker communities that we highly suggest you should check out!

## English
Forums:
- [GameMaker Forums](https://forum.gamemaker.io/index.php)

Discord Servers:
- [GameMaker Discord](https://discord.gg/gamemaker)
- [GameMaker Helpers Discord](https://discord.gg/TykHyqK)
- [GM Shaders Discord](https://discord.gg/RAC79Ud)

Subreddits:
- [r/GameMaker](https://www.reddit.com/r/gamemaker/)
- [r/GMspotlight](https://www.reddit.com/r/GMspotlight/)

## Polish
- [gmclan](https://gmclan.org/)