---
layout: layouts/base.njk
bodyClass: body-tag
---
<h1>Author “{{ author }}”</h1>

{% set authorslist = getAuthorsPage(author) %}
{% include "templates/authorslist.njk" %}

<hr>

<p>See <a href="/authors/">all authors</a>.</p>
